/*CUSTOM COLORS*/
:root {
    /*--Colors--*/
    --base-color: #161618;
    --base2-color: #1C1C1E;
    --trim-color: #000000;
    --primary-color: #212124;
    --secondary-color: #818181;
    --test-color: rgb(2, 211, 248);
    --error-color: ;
    --pass-color: ;
    --clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    /*--Sizes--*/
    --full-height: 100vh;
    --full-width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

.page-base-skeleton {
    width: var(--full-width);
    height: var(--full-height);
    background-color: var(--base2-color);
}
.Nav{
    border:2px solid white;
    border-radius:0px 0px 15% 15%;
}

.Navbar{
    color:black;
}


.navbarList{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.navbarSection1{
    color:black;
}
.navbarSection2{
    color:black;
}
.navbarSection2List{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}
.navbarSection2ListItem{
padding-left:20px;
padding-right:20px;
}

.navLink{
    text-decoration:none;
}
